<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible"
          content="IE=edge">
    <meta name="viewport"
          content="width=device-width,
				initial-scale=1.0">
    <title></title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.8/axios.min.js" integrity="sha512-PJa3oQSLWRB7wHZ7GQ/g+qyv6r4mbuhmiDb8BjSFZ8NZ2a42oTtAq5n0ucWAwcQDlikAtkub+tPVCw4np27WCg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- Fontawesome icon -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />  
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>


    <script>
        document.addEventListener("DOMContentLoaded", function () {
              const profileDropdown = document.getElementById("profileDropdown");
              const profileIcon = document.querySelector(".dpicn");
  
              profileIcon.addEventListener("click", function (event) {
                  event.stopPropagation(); // Prevent default action of hiding dropdown
                  profileDropdown.style.display = profileDropdown.style.display === "block" ? "none" : "block";
              });
  
              // Close the dropdown when user clicks outside of it
              document.addEventListener("click", function (event) {
                  if (!profileIcon.contains(event.target)) {
                      profileDropdown.style.display = "none";
                  }
              });
          });
      </script>
    
    <style>
        /* Main CSS Here */

        @import url( "https://fonts.googleapis.com/c    ss2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: "Poppins", sans-serif;
        }

        :root {
            --background-color1: #fafaff;
            --background-color2: #ffffff;
            --background-color3: #ededed;
            --background-color4: #cad7fda4;
            --primary-color: #4b49ac;
            --secondary-color: #0c007d;
            --Border-color: #3f0097;
            --one-use-color: #3f0097;
            --two-use-color: #5500cb;
        }

        body {
            background-color: var(--background-color4);
            max-width: 100%;
            overflow-x: hidden;
        }

        header {
            height: 70px;
            width: 100vw;
            padding: 0 30px;
            background-color: #302f49;
            position: fixed;
            z-index: 100;
            box-shadow: 1px 1px 15px rgba(161, 182, 253, 0.825);
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .logo {
            font-size: 27px;
            font-weight: 600;
            color: #ffffff;
            
        }

        .icn {
            height: 30px;
        }

        .menuicn {
            cursor: pointer;
        }

        .searchbar,
        .message,
        .logosec {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .searchbar2 {
            display: none;
        }

        .logosec {
            gap: 60px;
        }

        .searchbar input {
            width: 450px;
            height: 42px;
            border-radius: 50px 0 0 50px;
            background-color: var(--background-color3);
            padding: 0 20px;
            font-size: 15px;
            outline: none;
            border: none;
        }

        .searchbtn {
            width: 50px;
            height: 42px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 0px 50px 50px 0px;
            background-color: var(--secondary-color);
            cursor: pointer;
        }

        .message {
            gap: 40px;
            position: relative;
            cursor: pointer;
        }

        .circle {
            height: 7px;
            width: 7px;
            position: absolute;
            background-color: #fa7bb4;
            border-radius: 50%;
            left: 19px;
            top: 8px;
        }

        .dp {
            height: 40px;
            width: 40px;
            background-color: #626262;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
        }

        .main-container {
            display: flex;
            width: 100vw;
            position: relative;
            top: 70px;
            z-index: 1;
        }

        .dpicn {
            height: 42px;
        }

        .main {
            height: calc(100vh - 70px);
            width: 100%;
            overflow-y: scroll;
            overflow-x: hidden;
            padding: 40px 30px 30px 30px;
        }

            .main::-webkit-scrollbar-thumb {
                background-image: linear-gradient(to bottom, rgb(0, 0, 85), rgb(0, 0, 50));
            }

            .main::-webkit-scrollbar {
                width: 5px;
            }

            .main::-webkit-scrollbar-track {
                background-color: #9e9e9eb2;
            }

        .nav {
            min-height: 91vh;
            width: 250px;
            background-color: var(--background-color2);
            position: absolute;
            top: 0px;
            left: 00;
            box-shadow: 1px 1px 10px rgba(198, 189, 248, 0.825);
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            overflow: hidden;
            padding: 30px 0 20px 10px;
        }

        .navcontainer {
            height: calc(100vh - 70px);
            width: 250px;
            position: relative;
            overflow-y: scroll;
            overflow-x: hidden;
            transition: all 0.5s ease-in-out;
        }

            .navcontainer::-webkit-scrollbar {
                display: none;
            }

        .navclose {
            width: 80px;
        }

        .nav-option {
            width: 250px;
            height: 60px;
            display: flex;
            align-items: center;
            padding: 0 30px 0 20px;
            gap: 20px;
            transition: all 0.1s ease-in-out;
        }
        
        .nav-option:hover {
            border-left: 5px solid #a2a2a2;
            background-color: #dadada;
            cursor: pointer;
        }
        
        .nav-option a{
                color: #000;
                text-decoration: none;
            }

        .nav-img {
            height: 30px;
        }

        .nav-upper-options {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 30px;
        }

        .option1 {
            border-left: 5px solid #010058af;
            background-color: var(--Border-color);
            color: white;
            cursor: pointer;
        }

            .option1:hover {
                border-left: 5px solid #010058af;
                background-color: var(--Border-color);
            }

        
        .topic {
            font-size: 13px;
            font-weight: 400;
            letter-spacing: 1px;
        }

        .topic-heading {
            font-size: 30px;
            letter-spacing: 3px;
        }

        .content-area table{
            margin: 15px auto;

        }

        .content-area tr{
            padding: 12px;
        }

        .content-area tbody{
            background-color: #fff;
        }
        
        .content-area td,
        .content-area th{
            padding: 15px;
            text-align: center;
        }

        .content-area .btn-action-success{
            padding: 4px 8px;
            background-color: #11C15B;
            color: #fff;
            border-radius: 7px;
            cursor: pointer;
            border: none;
        }
        
        .content-area .btn-action-warning{
            padding: 4px 8px;
            background-color: #FFC107;
            color: #fff;
            border-radius: 7px;
            border: none;
            cursor: pointer;
        }
        
        .content-area img{
            width: 25px;
            height: 25px;
            border-radius: 50%;
        }


        .content-area .badge-warning{
            padding: 4px;
            background-color: #FFC107;
            color: #fff;
            border-radius: 7px;
            
        }
        
        .content-area .badge-success{
            padding: 4px;
            background-color: #11C15B;
            color: #fff;
            border-radius: 7px;

        }

        .content-area .description{
            width: 250px !important;
            overflow: auto;
        }

        /* Responsive CSS Here */
        @media screen and (max-width: 950px) {
            .nav-img {
                height: 25px;
            }

            .nav-option {
                gap: 30px;
            }

                .nav-option h3 {
                    font-size: 15px;
                }
        }

        @media screen and (max-width: 850px) {
            .nav-img {
                height: 30px;
            }

            .nav-option {
                gap: 30px;
            }

                .nav-option h3 {
                    font-size: 20px;
                }

            .navcontainer {
                width: 100vw;
                position: absolute;
                transition: all 0.6s ease-in-out;
                top: 0;
                left: -100vw;
            }

            .nav {
                width: 100%;
                position: absolute;
            }

            .navclose {
                left: 00px;
            }

            .searchbar {
                display: none;
            }

            .main {
                padding: 40px 30px 30px 30px;
            }

            .searchbar2 {
                width: 100%;
                display: flex;
                margin: 0 0 40px 0;
                justify-content: center;
            }

                .searchbar2 input {
                    width: 250px;
                    height: 42px;
                    border-radius: 50px 0 0 50px;
                    background-color: var(--background-color3);
                    padding: 0 20px;
                    font-size: 15px;
                    border: 2px solid var(--secondary-color);
                }
        }

        @media screen and (max-width: 490px) {
            .message {
                display: none;
            }

            .logosec {
                width: 100%;
                justify-content: space-between;
            }

            .logo {
                font-size: 20px;
            }

            .menuicn {
                height: 25px;
            }

            .nav-img {
                height: 25px;
            }

            .nav-option {
                gap: 25px;
            }

                .nav-option h3 {
                    font-size: 12px;
                }

            .nav-upper-options {
                gap: 15px;
            }

            .recent-Articles {
                font-size: 20px;
            }

            .report-topic-heading,
            .item1,
            .items {
                width: 550px;
            }
        }

        @media screen and (max-width: 400px) {
            .recent-Articles {
                font-size: 17px;
            }

            .view {
                width: 60px;
                font-size: 10px;
                height: 27px;
            }

            .report-header {
                height: 60px;
                padding: 10px 10px 5px 10px;
            }

            .searchbtn img {
                height: 20px;
            }
        }

        @media screen and (max-width: 320px) {
            .recent-Articles {
                font-size: 12px;
            }

            .view {
                width: 50px;
                font-size: 8px;
                height: 27px;
            }

            .report-header {
                height: 60px;
                padding: 10px 5px 5px 5px;
            }

            .t-op {
                font-size: 12px;
            }

            .t-op-nextlvl {
                font-size: 10px;
            }

            .report-topic-heading,
            .item1,
            .items {
                width: 300px;
            }

            .report-body {
                padding: 10px;
            }

            .label-tag {
                width: 70px;
            }

            .searchbtn {
                width: 40px;
            }

            .searchbar2 input {
                width: 180px;
            }
        }

    </style>

</head>

<body>

    <!-- for header part -->
    <header>

        <div class="logosec">
            <div class="logo">CrimeGuard</div>
            
        </div>

       

    </header>

    <div class="main-container">
        <div class="navcontainer">
            <nav class="nav">
                <div class="nav-upper-options option3">
                    <div class="nav-option ">
                        <img src="https://media.geeksforgeeks.org/wp-content/uploads/20221210182148/Untitled-design-(29).png"
                             class="nav-img"
                             alt="dashboard">
                        <h3><a href="/dashboard">Dashboard</a> </h3>
                    </div>


                    <div class="nav-option option1">
                        <img src="https://media.geeksforgeeks.org/wp-content/uploads/20221210183320/5.png"
                             class="nav-img"
                             alt="report">
                        <h3>Report</h3>
                    </div>

                    <div class="nav-option option5">
                        <img src="https://media.geeksforgeeks.org/wp-content/uploads/20221210183323/10.png"
                             class="nav-img"
                             alt="blog">
                        <h3><a href="/admin-feedback">Feedback</a></h3>
                    </div>

                    <div class="nav-option logout" onclick="logout()">
                        <img src="https://media.geeksforgeeks.org/wp-content/uploads/20221210183321/7.png"
                             class="nav-img"
                             alt="logout">
                        <h3>Logout</h3>
                    </div>
                    

                </div>
            </nav>
        </div>
        <div class="main">

            <div class="searchbar2">
                <input type="text"
                       name=""
                       id=""
                       placeholder="Search">
                <div class="searchbtn">
                    <img src="https://media.geeksforgeeks.org/wp-content/uploads/20221210180758/Untitled-design-(28).png"
                         class="icn srchicn"
                         alt="search-button">
                </div>
            </div>

            <div class="content-area">
                <table>
                    <tr>
                        <th>#</th>
                        <th>Image</th>
                        <th>Subject</th>
                        <th>Suspect Name</th>
                        <th>Area</th>
                        <th>Type</th>
                        <th>Status</th>
                        <th>Description</th>
                        <th>Crime Date</th>
                        <th>Created Date</th>
                        <th>Action</th>
                    </tr>

                    <tbody id="report-body">
                    </tbody>

                </table>
            </div>
           
        </div>
    </div>

    <script>
        window.onload = function() {
            getReport();
        };
    </script>
    <script src="/js/script.js"></script>
  
</body>
</html>
