<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logo Animation</title>
    <style>
        :root {
            font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
            line-height: 1.5;
            font-weight: 400;
            color: black;
            background-color: whitesmoke;
            font-synthesis: none;
            text-rendering: optimizeLegibility;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }

        body {
            overflow: hidden;
            margin: 0;
        }

        .bouncing-blob {
            width: 32vw;
            aspect-ratio: 1;
            border-radius: 50%;
            will-change: transform;
            position: absolute;
            z-index: 1;
            top: 0;
            left: 0;
            transform-origin: left top;
        }

        .bouncing-blob--blue {
            background: #4783c7;
        }

        .bouncing-blob--white {
            background: #ffffff;
            z-index: 2;
            width: 15vw;
        }

        .bouncing-blob--purple {
            background: #8c8ff1;
        }

        .bouncing-blob--pink {
            background: #e289cd50;
        }

        .bouncing-blobs-container {
            position: fixed;
            z-index: -1;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

        .bouncing-blobs-glass {
            position: absolute;
            z-index: 2;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            backdrop-filter: blur(140px);
            -webkit-backdrop-filter: blur(140px);
            pointer-events: none;
        }

        .bouncing-blobs {
            position: absolute;
            z-index: 1;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

        * {
            transition: 0.3s all ease;
        }

        #banner {
            position: relative;
            height: 100vh;
            background-image: linear-gradient(to bottom, #280711, #15071);
        }

        #logo {
            position: absolute;
            top: 15px;
            bottom: 15px;
            left: 15px;
            right: 15px;
            box-sizing: border-box;
            border: 2px solid;
            color: transparent;
        }

        #logo-wrap {
            position: absolute;
            height: 100%;
            width: 100%;
            font-size: 50px; /* Decreased size */
            font-family: Raleway, sans-serif;
            text-transform: uppercase;
            text-align: center;
            display: flex;
            flex-flow: row wrap;
            align-items: center;
            justify-content: center;
        }

        #logo-wrap span {
            overflow: hidden;
        }

        .biggo1 {
            width: 3em; /* Decreased size */
            height: 2.5em; /* Decreased size */
            opacity: 0;
        }

        .biggo1 img {
            width: 120%;
            height: 90%;
        }

        .biggo {
            font-weight: bold;
            color: #571818;
            font-size: 1em; /* Decreased size */
            opacity: 0;
        }

        .play #forsta {
            animation: 0.5s ease 2s 1 forwards fadedown;
        }

        .play #andra {
            animation: 0.5s ease 2.5s 1 forwards fadeup;
        }

        .smol {
            font-weight: bold;
            color: #2b2458;
            width: 0;
            font-size: 1em; /* Decreased size */
        }

        .play .smol {
            animation: 1.2s ease 3s 1 forwards expand;
        }

        @keyframes fadedown {
            0% {
                margin-top: -0.5em;
            }

            100% {
                opacity: 1;
                margin-top: 0;
            }
        }

        @keyframes fadeup {
            0% {
                margin-top: 0.5em;
            }

            100% {
                opacity: 1;
                margin-top: 0;
            }
        }

        @keyframes expand {
            0% {
                width: 0;
                opacity: 0;
                letter-spacing: -0.8em;
            }

            30% {
                opacity: 0.3;
            }

            100% {
                width: 149px; /* Decreased size */
                opacity: 1;
                letter-spacing: auto;
            }
        }

        @keyframes fadein {
            0% {
                opacity: 0;
            }

            100% {
                opacity: 1;
            }
        }
    </style>
</head>

<body>
    <!-- Header -->
    <header id="banner">
        <div id="logo">
            <div id="logo-wrap" class="play">
                <span class="biggo1" id="forsta"><img src="pic/h.png" /></span>
                <span class="smol">Crime</span>
                <span class="biggo" id="andra">Guard</span>
            </div>
        </div>
    </header>

    <div class="bouncing-blobs-container">
        <div class="bouncing-blobs-glass"></div>
        <div class="bouncing-blobs">
            <div class="bouncing-blob bouncing-blob--blue"></div>
            <div class="bouncing-blob bouncing-blob--blue"></div>
            <div class="bouncing-blob bouncing-blob--blue"></div>
            <div class="bouncing-blob bouncing-blob--white"></div>
            <div class="bouncing-blob bouncing-blob--purple"></div>
            <div class="bouncing-blob bouncing-blob--purple"></div>
            <div class="bouncing-blob bouncing-blob--pink"></div>
        </div>
    </div>

    <script>
        const MIN_SPEED = 1.5;
        const MAX_SPEED = 2.5;

        function randomNumber(min, max) {
            return Math.random() * (max - min) + min;
        }

        class Blob {
            constructor(el) {
                this.el = el;
                const boundingRect = this.el.getBoundingClientRect();
                this.size = boundingRect.width;
                this.initialX = randomNumber(0, window.innerWidth - this.size);
                this.initialY = randomNumber(0, window.innerHeight - this.size);
                this.el.style.top = `${this.initialY}px`;
                this.el.style.left = `${this.initialX}px`;
                this.vx = randomNumber(MIN_SPEED, MAX_SPEED) * (Math.random() > 0.5 ? 1 : -1);
                this.vy = randomNumber(MIN_SPEED, MAX_SPEED) * (Math.random() > 0.5 ? 1 : -1);
                this.x = this.initialX;
                this.y = this.initialY;
            }

            update() {
                this.x += this.vx;
                this.y += this.vy;
                if (this.x >= window.innerWidth - this.size) {
                    this.x = window.innerWidth - this.size;
                    this.vx *= -1;
                }
                if (this.y >= window.innerHeight - this.size) {
                    this.y = window.innerHeight - this.size;
                    this.vy *= -1;
                }
                if (this.x <= 0) {
                    this.x = 0;
                    this.vx *= -1;
                }
                if (this.y <= 0) {
                    this.y = 0;
                    this.vy *= -1;
                }
            }

            move() {
                this.el.style.transform = `translate(${this.x - this.initialX}px, ${this.y - this.initialY}px)`;
            }
        }

        function initBlobs() {
            const blobEls = document.querySelectorAll('.bouncing-blob');
            const blobs = Array.from(blobEls).map((blobEl) => new Blob(blobEl));

            function update() {
                requestAnimationFrame(update);
                blobs.forEach((blob) => {
                    blob.update();
                    blob.move();
                });
            }

            requestAnimationFrame(update);
        }

        initBlobs();
    </script>
    <script>
        // Redirect to home page after 5 seconds
        setTimeout(function() {
            window.location.href = '/home';
        }, 7000);

        // Redirect to home page on click
        document.addEventListener('click', function() {
            window.location.href = 'home';
        });
    </script>
</body>
</html>
